.itemContainer {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  font-family: sans-serif;
}

.itemImage {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.itemContent {
  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
}

.itemName {
  font-size: 1em;
  font-weight: 600;
  color: #393e46;
}

.buttonContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.button {
  background-color: #83fe;
  border: none;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
}
